/****************/
/*    GENERAL   */
/****************/




/*********/
/* FONTS */
/*********/


@font-face {
    font-family: "Garnett";
    src: url("../fonts/garnettRegular.woff2")format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Garnett";
    src: url("../fonts/garnettSemibold.woff2")format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Garnett";
    src: url("../fonts/garnettBold.woff2")format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Pitch";
    src: url("../fonts/pitchBold.woff2")format("woff2");
    font-weight: 700;
}


/********************************/
/* HUIDIGE STIJLING VERWIJDEREN */
/********************************/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover, button:hover {
    color: var(--color-primary);
    /* text-decoration: underline; */
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
	--color-text:#000000;
	--color-background:#eeeeee;
	--color-primary: #e83c85;
	--color-secundary: #ffefdb;
}




/*********/
/* TEKST */
/*********/


h1, h2, h3 {
    font-family: "Garnett";
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: .5em;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-family: "Garnett";
}

a, button, link {
    font-family: "Garnett";
    font-weight: 600;
    text-transform: uppercase;
}

ul {
    font-family: "Garnett";
    list-style-type: none;
    margin: 0;
    padding: 0;
}




/********************/
/*  BUTTON STYLING  */
/********************/
button {
    appearance: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
    color: var(--color-secundary);
    background-color: var(--color-text);
    margin: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

@media only screen and (min-width: 1280px) {
    button, a {
        font-size: 20px;

    }
}



/*********/
/*  NAV  */
/*********/

nav:first-child {
	display: flex;
	justify-content: center;
	background-color: var(--color-text);
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	color: var(--color-secundary);

    text-align: center;
}

nav a:first-child {
	color: var(--color-secundary);
}




/*************/
/*  NAV BAR  */
/*************/


body header nav:nth-of-type(2) ul li button {
    color: black;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
}

body nav:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: 100px auto 100px;
    padding: 1em;

    height: 2em;

    justify-items: center;
}

body nav:nth-of-type(2) {
    border-bottom:1px solid #dadada;

}

header nav:nth-of-type(2) ul li:nth-of-type(1) {
    grid-row-start: 1;
    grid-column-start: 1;

    justify-self: start;
    align-self: start;
}

header nav:nth-of-type(2) ul li:nth-of-type(2) {
    grid-row-start: 1;
    grid-column-start: 1;
    
    justify-self: center;
    gap: 0.1fr;

}

header nav:nth-of-type(2) ul li:nth-of-type(3) img {
    width: 130px;
    height: 35px;
	object-fit: cover;
    padding-left: 100px;
    padding-right: 100px;


    grid-row-start: 1;
    grid-column-start: 2;

    justify-self: center;
}

header nav:nth-of-type(2) ul li:nth-of-type(4) {
    grid-row-start: 1;
    grid-column-start: 3;

    justify-self: start;
}

header nav:nth-of-type(2) ul li:nth-of-type(5) {
    grid-row-start: 1;
    grid-column-start: 3;

    justify-self: center;
}

header nav:nth-of-type(2) ul li:nth-of-type(6) {
    grid-row-start: 1;
    grid-column-start: 3;

    justify-self: end;
}






/**************************/
/*  JS NAV HAMBURGERMENU  */
/**************************/

body header nav:nth-of-type(3) ul {
    display: none;
    position: fixed;
    background-color: white;
    padding: 1em;
    box-shadow: var(--color-text);
}

body header nav:nth-of-type(3) ul.yay {
    display: block;
}



/*********************/
/*  OVERIGE STYLING  */
/*********************/

/* DERDE SECTIE VAN DE PAGINA HEEFT EEN ROZE SCROLLBAR */

main > section:nth-of-type(3) ::-webkit-scrollbar {
    width: 2px;
}

main > section:nth-of-type(3) ::-webkit-scrollbar-track {
    background-color: #f8c3da;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 30px;

}

main > section:nth-of-type(3) ::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 30px;
}

/* https://www.youtube.com/watch?v=lvKK2fs6h4I */



/* VIJFDE SECTIE VAN DE PAGINA HEEFT EEN ROZE SCROLLBAR */

main > section:nth-of-type(5) ::-webkit-scrollbar {
    width: 0.1em;
}

main > section:nth-of-type(5) ::-webkit-scrollbar-track {
    background-color: #f8c3da;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 30px;

}

main > section:nth-of-type(5) ::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 30px;
}

/* https://www.youtube.com/watch?v=lvKK2fs6h4I */





/************/
/*  FOOTER  */
/************/


footer {
	background-color: var(--color-text);
	color: var(--color-secundary);

    padding-left: 2em;
    padding-right: 2em;
}

footer h2 {
    font-weight: 600;
}

footer form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer form label {
    font-family: "Garnett";
    padding-top: 1em;
    padding-bottom: .2em;
}

footer form input {
    font-family: "Garnett";
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #211f20;
    border-style: none;
}

footer form button {
    background-color: var(--color-primary);
    margin: 0;
    margin-top: 1em;
    border-radius: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer form button:hover {
    color: var(--color-text);
}


footer img {
	width: 25px;
}

footer > section > h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* https://www.a11yproject.com/posts/how-to-hide-content/ */
}

footer > section {
    display: flex;
    justify-content: start;
}

footer > section img {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1.5em;
}

footer > nav:nth-of-type(1) {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

footer > nav:nth-last-of-type(1) {
    display: flex;
    flex-direction: row;

    padding-top: 4em;
    padding-bottom: 3em;
}

footer > nav:nth-of-type(1) ul:nth-of-type(1) {
    padding-right: 6em;
}

footer > nav:nth-of-type(1) ul li a {
    font-weight: 400;
    text-transform: capitalize;
}

footer > nav:nth-of-type(1) ul li {
    padding-bottom: 2em;
}


footer > nav:nth-of-type(1) ul h3 {
    padding-bottom: 2em;
}


footer > nav:nth-last-of-type(1) a {
    font-family: "Garnett";
    font-weight: 400;
    text-transform: capitalize;
    color: var(--color-secundary);

    margin-right: .7em;
}




/********************************/
/*  RESPONSIVENESS HOMEPAGINA	*/
/********************************/

/* https://www.browserstack.com/guide/responsive-design-breakpoints */

/* 0 - 480px is voor smaller smartphones */
/* 481 - 768px is voor tablets en larger smartphones */
/* 769 - 1024px is voor laptops, grotere tablets in landscape en small desktop */
/* 1280px is voor larger desktops en monitors */

@media only screen and (max-width: 768px) {
    header nav:nth-of-type(2) ul li:nth-of-type(3) img {
    width: 130px;
    height: 35px;
	object-fit: cover;
    padding-left: 5px;
    padding-right: 5px;


    grid-row-start: 1;
    grid-column-start: 2;

    justify-self: center;
}
}



@media only screen and (min-width: 1280px) {
    * {
        font-size: 20px;
    }
}

