/****************/
/*    GENERAL   */
/****************/





/*********/
/* FONTS */
/*********/


@font-face {
    font-family: "Garnett";
    src: url("../fonts/garnettRegular.woff2")format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Garnett";
    src: url("../fonts/garnettMedium.woff2")format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Garnett";
    src: url("../fonts/garnettSemibold.woff2")format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Garnett";
    src: url("../fonts/garnettBold.woff2")format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Pitch";
    src: url("../fonts/pitchBold.woff2")format("woff2");
    font-weight: 700;
}










/********************************/
/* HUIDIGE STIJLING VERWIJDEREN */
/********************************/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover, button:hover {
    color: var(--color-primary);
    /* text-decoration: underline; */
}










/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
    /* Primaire branding kleuren */
	--color-text:#000000;
	--color-background:#ffffff;
	--color-primary: #e83c85;
	--color-secundary: #ffefdb;
    --color-borders: #e2e0d3;

    /* Overige kleuren */
    --color-light-lines: #f2f2f2;
    --color-light-pink: #f8c3da;
    --color-light-grey: #f6f6ee;
    --color-white: #ffffff; 
    --color-light-brown: #dadada;
    --color-dark-purple: #211f20;

    --color-dropshadow: #334a6733;

    /* buttons en a's */
    --color-button-bg: #000000;
    --color-button-text: #ffefdb;
    --color-button-hover: #281d1d;
}

@media (prefers-color-scheme: dark) {
    :root {
    /* Primaire branding kleuren */
	--color-text:#ddcbcb;
	--color-background:#171616;
	--color-primary: #e83c85;
	--color-secundary: #c9b9a6;
    --color-borders: #a6a6a2;

    /* Overige kleuren */
    --color-light-lines: #f2f2f2;
    --color-light-pink: #f8c3da;
    --color-light-grey: #f6f6ee;
    --color-white: #171616; 
    --color-light-brown: #352a23;
    --color-dark-purple: #211f20;

    --color-dropshadow: #01010233;

    /* buttons en a's */
    --color-button-bg: #571537;
    --color-button-text: #ffefdb;
    --color-button-hover: #190909;
    }

    svg {
        filter: invert(1);
    }
}





/*********/
/* TEKST */
/*********/

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

h1, h2, h3 {
    font-family: "Garnett";
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: .5em;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-family: "Garnett";
}

a, button {
    font-family: "Garnett";
    font-weight: 600;
    text-transform: uppercase;
}

a:focus, button:focus {
    outline: var(--color-primary);
    outline-width: 2px;
    outline-style: dotted;
    outline-color: var(--color-primary);
}
/* Uitleg van de verschillende states: https://zellwk.com/blog/style-hover-focus-active-states/ */

footer li a:hover {
    background-color: var(--color-primary);  
}

ul {
    font-family: "Garnett";
    list-style-type: none;
    margin: 0;
    padding: 0;
}










/********************/
/*  BUTTON STYLING  */
/********************/

button {
    appearance: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
    color: var(--color-secundary);
    background-color: var(--color-text);
    margin: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: var(--color-button-hover);
}

button:focus {
    background-color: var(--color-button-hover);
}

button:active {
    background-color: var(--color-button-hover);
}

@media only screen and (min-width: 1280px) {
    button, a {
        font-size: 20px;
    }
}










/***********************************/
/*  "THE WAIT IS OVER" EERSTE NAV  */
/***********************************/

nav:first-child {
	display: flex;
	justify-content: center;
	background-color: #000000;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	color: var(--color-secundary);

    text-align: center;
}

nav a:first-child {
	color: var(--color-secundary);
}










/*************/
/*  NAV BAR  */
/*************/

body header nav:nth-of-type(2) {
    background-color: var(--color-background);
}

body header nav:nth-of-type(2) ul li button {
    color: var(--color-text);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
}

body nav:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: 125px auto 125px;
    padding: 1em;

    height: 2em;

    justify-items: center;
}

body nav:nth-of-type(2) {
    border-bottom:1px solid var(--color-light-brown);

}

header nav:nth-of-type(2) ul li:nth-of-type(1) {
    grid-row-start: 1;
    grid-column-start: 1;

    justify-self: start;
    align-self: start;
}

header nav:nth-of-type(2) ul li:nth-of-type(2) {
    grid-row-start: 1;
    grid-column-start: 1;
    
    justify-self: center;
}

header nav:nth-of-type(2) ul li:nth-of-type(3) img {
    width: 130px;
    height: 35px;
	object-fit: cover;
    padding-left: 100px;
    padding-right: 100px;


    grid-row-start: 1;
    grid-column-start: 2;

    justify-self: center;
}

header nav:nth-of-type(2) ul li:nth-of-type(4) {
    grid-row-start: 1;
    grid-column-start: 3;

    justify-self: start;
}

header nav:nth-of-type(2) ul li:nth-of-type(5) {
    grid-row-start: 1;
    grid-column-start: 3;

    justify-self: center;
}

header nav:nth-of-type(2) ul li:nth-of-type(6) {
    grid-row-start: 1;
    grid-column-start: 3;

    justify-self: end;
}

header {
    position: sticky;
    overflow: hidden;
    top: 0;
	z-index: 2;
}
/* Dit zorgt ervoor dat mijn navs mee gaan op de pagina, dit heb ik geleerd door de volgende link: 
https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */





/************************/
/*  RESPONSIVE | NAV    */
/************************/

/* https://www.browserstack.com/guide/responsive-design-breakpoints */

/* 0 - 480px is voor smaller smartphones */
/* 481 - 768px is voor tablets en larger smartphones */
/* 769 - 1024px is voor laptops, grotere tablets in landscape en small desktop */
/* 1280px is voor grotere desktops en monitors */

@media only screen and (max-width: 768px) {
    header nav:nth-of-type(2) ul li:nth-of-type(3) img {
        width: 130px;
        height: 35px;
        object-fit: cover;
        padding-left: 5px;
        padding-right: 5px;

        grid-row-start: 1;
        grid-column-start: 2;

        justify-self: center;
    }
}

@media only screen and (max-width: 480px) {
    header nav:nth-of-type(2) ul li:nth-of-type(2), 
    header nav:nth-of-type(2) ul li:nth-of-type(4), 
    header nav:nth-of-type(2) ul li:nth-of-type(5) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    /* Verberg de nav maar het wordt wel nog opgenoemd in de voiceover */

    header nav:nth-of-type(2) ul li:nth-of-type(3) img {
        width: 80px;
        height: 25px;
    }
}

@media only screen and (min-width: 1280px) {
    * {
        font-size: 20px;
    }
}

/* Bron voor het verbergen van de nav iconen https://www.a11yproject.com/posts/how-to-hide-content/ */





/**************************/
/*  JS NAV HAMBURGERMENU  */
/**************************/

header > nav:nth-of-type(3) > ul > li > button {
    order: -1;

    color: var(--color-text);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;

    position: absolute;
    top: 2rem;
    right: 1rem;
}

header > nav:nth-of-type(3) { 
    position: fixed;

    top: 0;
    left: 0;
    width: 20vw;
    height: 100%;
    bottom: 0;
    background-color: var(--color-white);

    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 4rem;
  
    translate:-100% 0%;

    transition:translate .3s;
}

header > nav:nth-of-type(3).toonMenu {
    translate:0% 0%;
}

header > nav:nth-of-type(3) > ul > li a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;

    color: var(--color-text);
}

header > nav:nth-of-type(3) > ul li {
    padding-top: 3px;
    padding-bottom: 3px;
}

header > nav:nth-of-type(3) > ul li a:focus {
    outline: var(--color-primary);
    outline-width: 2px;
    outline-style: dotted;
    outline-color: var(--color-primary);
}

header > nav:nth-of-type(3) hr {
    width: 5vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header > nav:nth-of-type(3) > ul:last-of-type > li:nth-of-type(1) a {
    color: var(--color-primary);
}


header > nav:nth-of-type(3) > ul li a:hover {
    color: var(--color-primary);
}
/* Dit is mij gelukt door een voorbeeld van Sanne 't Hooft 
https://codepen.io/shooft/pen/myepoJo?editors=1100 */





/*******************************************/
/*  JS NAV HAMBURGERMENU | RESPONSIVENESS  */
/*******************************************/

@media only screen and (max-width: 1024px) {
    header > nav:nth-of-type(3) {
        width: 40vw;
    }
    header > nav:nth-of-type(3) > ul > li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}





/************/
/*  FOOTER  */
/************/


footer {
	background-color: #000000;
	color: var(--color-secundary);

    padding-left: 2em;
    padding-right: 2em;
}

footer h2 {
    font-weight: 600;
}

footer form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer form label {
    font-family: "Garnett";
    padding-top: 1em;
    padding-bottom: .2em;
}

footer > form > input::placeholder {
    color: #ffffff;
}

footer form input {
    font-family: "Garnett";
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--color-dark-purple);
    color: #ffffff;
    border-style: none;
}

footer form button {
    background-color: var(--color-primary);
    margin: 0;
    margin-top: 1em;
    border-radius: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding-right: 20px;
}

footer form button:hover {
    color: var(--color-text);
}

footer img {
	width: 25px;
}

footer > section > h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* https://www.a11yproject.com/posts/how-to-hide-content/ */
}

footer > section {
    display: flex;
    justify-content: start;
}

footer > section img {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1.5em;
}

footer > nav:nth-of-type(1) {
    display: grid;
    grid-template-rows: .5fr .5fr;
    grid-template-columns: auto auto;
}

footer > nav:nth-of-type(1) h3:first-of-type {
    grid-column-start: 1;
}

footer > nav:nth-of-type(1) h3:last-of-type {
    grid-column-start: 2;
}

footer > nav:nth-of-type(1) ul:first-of-type {
    grid-row-start: 2;
    grid-column-start: 1;
}

footer > nav:nth-of-type(1) ul li a {
    text-transform: capitalize;
    font-weight: 400;
}

footer > nav:nth-of-type(1) ul li {
    padding-bottom: 10px;
    padding-top: 10px;
}

footer > nav:nth-last-of-type(1) a {
    font-family: "Garnett";
    font-weight: 400;
    text-transform: capitalize;
    color: var(--color-secundary);

    margin-right: .7em;
}

footer > nav:nth-last-of-type(1) {
    padding-bottom: 20px;
    padding-top: 20px;
}