/***********************/
/*    PRODUCT-PAGINA   */
/***********************/

main {
    margin-left: 1em;
    margin-right: 1em;
}

@media (prefers-color-scheme: dark) {
    main > section:nth-of-type(3) img {
        filter: invert(1);
    }
}










/*******************************/
/*  6" BIRTHDAY CAKE SECTION   */
/*******************************/

body > main > section:nth-of-type(1) img {
    border-radius: 10px;
    width: 100%;

    margin-top: 1em;
}

body > main > section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}

body > main > section:nth-of-type(1) > ul {
    display: flex;
    overflow: hidden;
    gap: min(2vw, 1.5em);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;

    order: 1;
}

body > main > section:nth-of-type(1) li {
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

body > main > section > nav {
    display: flex;
    gap: min(2vw, 1.5em);
    scroll-snap-type: auto;
    order: 2;
}

main > section > h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h1 {
    text-transform: capitalize;
    font-weight: 300;
}

main > section:nth-of-type(2) > h2 {
    text-transform: capitalize;
    font-weight: 400;
    padding-top: 10px;
}





/************************************************/
/*  6" BIRTHDAY CAKE SECTION | RESPONSIVENESS   */
/************************************************/

@media only screen and (min-width: 768px) {
    body > main > section:nth-of-type(1) {
        display: grid;
        grid-template-columns: 3vw 40vw;
        grid-template-rows: 1fr;
        column-gap: 1em;

        position: sticky;
        top: 150px;
    }

    body > main > section > nav {
        flex-shrink: 0;

        flex-direction: column;

        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    body > main > section > nav img {
        padding: 0;
        margin: 0;
        /* width: 50px; */
    }

    body > main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 330px;
    }

    body > main > section:nth-of-type(2),
    body > main > section:nth-of-type(3),
    body > main > section:nth-of-type(4),
    body > main > button:first-of-type,
    body > main > section:nth-of-type(5),
    body > main > section:nth-of-type(6),
    body > main > section:nth-of-type(7),
    body > main > section:nth-of-type(8),
    body > main > section:nth-of-type(9),
    body > main > section:nth-of-type(10) {
        grid-column-start: 2;
    }
}










/*****************************/
/*  "THE BENEFITS" SECTION   */
/*****************************/

main > section:nth-of-type(3) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */

main > section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: 1fr 1fr;

    padding-top: 1em;
}

main > section:nth-of-type(3) > img:nth-of-type(1) {
    grid-row-start: 1;
    grid-column-start: 1;

    align-self: center;
    justify-self: center;
}

main > section:nth-of-type(3) > h3:nth-of-type(1) {
    grid-row-start: 2;
    grid-column-start: 1;

    align-self: center;
    justify-self: center;

    text-transform: capitalize;
    font-weight: 300;

    text-align: center;
}

main > section:nth-of-type(3) > img:nth-of-type(2) {
    grid-row-start: 1;
    grid-column-start: 2;

    align-self: center;
    justify-self: center;
}

main > section:nth-of-type(3) > h3:nth-of-type(2) {
    grid-row-start: 2;
    grid-column-start: 2;

    align-self: center;
    justify-self: center;

    text-transform: capitalize;
    font-weight: 300;

    text-align: center;
}

main > section:nth-of-type(3) > img:nth-of-type(3) {
    grid-row-start: 1;
    grid-column-start: 3;

    align-self: center;
    justify-self: center;
}

main > section:nth-of-type(3) > h3:nth-of-type(3) {
    grid-row-start: 2;
    grid-column-start: 3;

    align-self: center;
    justify-self: center;

    text-transform: capitalize;
    font-weight: 300;

    text-align: center;
}

main > section:nth-of-type(3) img {
    width: 50px;
}










/*************************************************/
/*  "UPGRADE TO A 10" PARTY SIZE $140" SECTION   */
/*************************************************/

main > section:nth-of-type(4) > label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

main > section:nth-of-type(4) > label input {
    opacity: 0;
    width: 0;
    height: 0;
}

main > section:nth-of-type(4) > label i {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-borders);
  -webkit-transition: .4s;
  transition: .4s;
}

main > section:nth-of-type(4) > label i:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-white);
}

main > section:nth-of-type(4) > label > i {
  border-radius: 34px;
}

main > section:nth-of-type(4) > label > i:before {
  border-radius: 50%;
}
/*  Bron voor het ontwikkelen van een toggle https://www.w3schools.com/howto/howto_css_switch.asp */


main > section:nth-of-type(4) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-borders);

    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    column-gap: 1em;
}

main > section:nth-of-type(4) h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;

    align-self: start;
    justify-self: start;

    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.5rem;
}

main > section:nth-of-type(4) > p {
    grid-column-start: 2;
    grid-row-start: 2;

    align-self: end;
    justify-self: start;
}

main > section:nth-of-type(4) > img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 25px;

    align-self: center;
    justify-self: start;
}

main > section:nth-of-type(4) > label {
    grid-column-start: 3;
    grid-row-start: 1;

    align-self: end;
    justify-items: end;
}

main > button:first-of-type {
    margin-left: 0;
    width: 100%;
    background-color: var(--color-button-bg);
}










/***********************************************/
/*  "BUNDLE AND SAVE UP TO 10% OFF!" SECTION   */
/***********************************************/

main > section:nth-of-type(5) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr;
    row-gap: 10px;

    margin-right: 1em;
}

main > section:nth-of-type(5) > h2 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: medium;

    grid-column-start: 1;
    grid-column-end: -1;

    grid-row-start: 1;
}

main > section:nth-of-type(5) > p:first-of-type {
    grid-column-start: 1;
    grid-column-end: -1;

    grid-row-start: 2;
}

main > section:nth-of-type(5) > p:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 3;

    align-self: center;
    justify-self: center;
}

main > section:nth-of-type(5) > p:nth-of-type(3) {
    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 5;

    align-self: center;
    justify-self: center;
}

main > section:nth-of-type(5) > p:nth-of-type(4) {
    grid-column-start: 3;
    grid-column-end: 3;

    grid-row-start: 3;

    align-self: center;
    justify-self: end;
}

main > section:nth-of-type(5) > p:nth-of-type(5) {
    grid-column-start: 3;
    grid-column-end: 3;

    grid-row-start: 5;

    align-self: center;
    justify-self: end;
}

main > section:nth-of-type(5) > p:nth-of-type(6) {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 4;

    align-self: center;
    justify-self: start;
    width: 100%;
    height: 12px;
    border-radius: 20px;
    padding-left: 5px;

    font-size: xx-small;
    font-style: italic;
    color: var(--color-light-pink);

    background: linear-gradient(to right, var(--color-primary) 25%, var(--color-light-lines) 25%);
    /* https://www.w3schools.com/css/css3_gradients.asp */
}










/**********************************/
/*  "YOU MAY ALSO LIKE" SECTION   */
/**********************************/

main > section:nth-of-type(6) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */

main > section:nth-of-type(6) {
    margin-right: -1em;
    padding-top: 2em;
}
/* Het lukte mij niet om op de vijfde section geen margin te hebben, omdat ik op mijn main 1em margin-right heb staan, deze link heeft mij hierbij geholpen https://stackoverflow.com/questions/11495200/how-do-negative-margins-in-css-work-and-why-is-margin-top-5-margin-bottom5 */

main > section:nth-of-type(6) ul {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 200px 200px 200px 200px 200px;
	overflow-x: scroll;

	column-gap: .5em;
	padding-bottom: 2em;
    padding-right: 1em;
}

main > section:nth-of-type(6) > ul li {
	display:grid;
	grid-template-rows: auto 30px auto 40px;
}

main > section:nth-of-type(6) > ul li img {
	grid-row-start:1;
	grid-column-start:1;

    width: 100%;
    border-radius: 10px;
}

main > section:nth-of-type(6) > ul li svg:nth-of-type(1) {
    grid-row-start:1;
	grid-column-start:1;
	z-index: 1;

	justify-self: end;
	align-self: start;

    margin-right: 10px;
    margin-top: 10px;
}

main > section:nth-of-type(6) > ul li p {
    grid-row-start: 2;
    padding-top: 10px;
}

main > section:nth-of-type(6) > ul li h3 {
    grid-row-start: 3;

    font-weight: 500;
    padding-top: 10px;
    text-transform: capitalize;
    font-size: medium;

    justify-self: start;
    align-self: start;

}

main > section:nth-of-type(6) > ul li button {
    grid-row-start: 4;
    grid-row-end: 5;

    grid-column-start: 1;
    grid-column-end: 2;
    
    margin: 0;
    padding: 0;
    padding-bottom: 8px;

    background-color: transparent;
    color: var(--color-text);

    border-style: solid;
    border-color: var(--color-borders);
}










/******************************************/
/*  "PRODUCT & STORAGE DETAILS" SECTION   */
/******************************************/


main > section:nth-of-type(7) {
    margin-top: 1em;
    display: grid;

    grid-template-columns: auto 10px;
    grid-template-rows: auto auto auto;
}

main > section:nth-of-type(7) h2, main > section:nth-of-type(7) h3 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: large;
}

main > section:nth-of-type(7) h2 {
    grid-column-start: 1;
    align-self: center;

}

main > section:nth-of-type(7) svg:first-of-type {
    grid-column-start: 2;
    align-self: center;
}

main > section:nth-of-type(7) hr {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;

    color: var(--color-light-lines);
    align-self: center;
}

main > section:nth-of-type(7) h3 {
    grid-column-start: 1;

    grid-row-start: 3;

    align-self: center;
}

main > section:nth-of-type(7) svg:last-of-type {
    grid-column-start: 2;

    grid-row-start: 3;

    align-self: center;
}










/********************************/
/*  "GROUP & E-GIFTS" SECTION   */
/********************************/

main > section:nth-of-type(8) {
    background-color: var(--color-light-grey);
    margin-top: 1em;
    margin-left: -1em;
    margin-right: -1em;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: auto;
}

main > section:nth-of-type(8) h2 {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;

    color: var(--color-secundary);
    padding-left: 20px;

    text-transform: capitalize;

    align-self: start;
    justify-self: start;

    padding-top: 10px;

    font-size: large;
    font-weight: 400;
}

main > section:nth-of-type(8) img {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    
	object-fit: cover;
    width: 100%;
    height: 300px;

    border-radius: 10px;
}

main > section:nth-of-type(8) h3 {
    grid-row-start: 2;
    grid-column-start: 1;
    z-index: 1;

    color: var(--color-secundary);
    padding-left: 20px;

    text-transform: capitalize;

    align-self: center;
    justify-self: start;

    font-weight: 500;
}

main > section:nth-of-type(8) p {
    grid-row-start: 3;
    grid-column-start: 1;
    z-index: 1;

    color: var(--color-secundary);
    padding-left: 20px;

    text-transform: capitalize;

    align-self: end;
    justify-self: start;

    padding-bottom: 10px;
}










/**********************************/
/*  "BEHIND THE SCENES" SECTION   */
/**********************************/


main > section:nth-of-type(9) {
    margin-right: -1em;
    padding-top: 2em;
}

main > section:nth-of-type(9) h2 {
    text-transform: capitalize;
    font-size: large;
    font-weight: 500;
}

main > section:nth-of-type(9) ul {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 200px 200px 200px 200px;
	overflow-x: scroll;

	column-gap: .5em;
	padding-bottom: 2em;
    padding-right: 1em;
}

main > section:nth-of-type(9) > ul li {
	display: grid;
	grid-template-rows: auto 80px;
}

main > section:nth-of-type(9) > ul li img {
	grid-row-start:1;
    grid-row-end: 2;

	grid-column-start:1;
    grid-column-end: 1;

    width: 100%;
    height: 290px;

    border-radius: 10px;
    object-fit: cover;
}

main > section:nth-of-type(9) > ul li h3 {
    grid-row-start: 2;
    justify-self: start;
    align-self: start;

    text-transform: capitalize;
    font-size: medium;
    font-weight: 500;

}

main > section:nth-of-type(9) > ul li svg {
    grid-row-start: 1;
    grid-row-end: 1;

    grid-column-start: 1;
    grid-column-end: 1;

    justify-self: center;
    align-self: center;
}










/*********************************/
/*  "MILK BAR MOMENTS" SECTION   */
/*********************************/


main > section:nth-of-type(10) {
    margin-right: -1em;
    padding-top: 2em;
}

main > section:nth-of-type(10) h2 {
    text-transform: capitalize;
    font-size: large;
    font-weight: 500;
}

main > section:nth-of-type(10) ul {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto auto auto auto;
	overflow-x: scroll;

	column-gap: .5em;
	padding-bottom: 2em;
    padding-right: 1em;
}

main > section:nth-of-type(10) > ul li {
	display: grid;
	grid-template-rows: auto 80px;
}

main > section:nth-of-type(10) > ul li img {
	grid-row-start:1;
    grid-row-end: 2;

	grid-column-start:1;
    grid-column-end: 1;

    width: 210px;
    height: 210px;

    border-radius: 10px;
    object-fit: cover;
}

main > section:nth-of-type(10) > ul li h3 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: medium;
}